/* .footers{
    background-color: black;
    color: white;
    display: flex;
    padding-bottom: 30px;
}
.footer1{
    width: 50%;
    text-align: center;
    padding: 30px;
}
.footer1 > h1{
    padding: 20px;
}
.footer2{
    width: 50%;
    text-align: center;
}
.footer2 > img{
    margin: 20px;
    border-radius: 50%;
    width: 100px;
} */
